@model HomeModel

@{

    ViewData["Title"] = "Home Page";
}

<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<h2>Cars belonging to company with ID: @Model.CompanyId</h2>
<br>
<br>
@if (Model.CompanyCars.Count != 0)
{
    <table>
      <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Description</th>
        <th>LicensePlate</th>
        <th>TireCount</th>
      </tr>
      @foreach(Car car in Model.CompanyCars)
      {
      <tr>
        <td>@car.Brand</td>
        <td>@car.Model</td>
        <td>@car.Description</td>
        <td>@car.LicensePlate</td>
        <td>@car.TireCount</td>
      </tr>
  
      }
    </table>
}
</body>
    
<hr/>
<h4><a asp-action="Index" asp-controller="Settings" asp-route-companyId="@Model.CompanyId">Enter CompanyID</a></h4>
