@model HomeModel

@{

    ViewData["Title"] = "Home Page";
}


<h2>Biler til firmaId: @Model.CompanyId</h2>
@foreach (Car car in Model.CompanyCars)
{
    <table style="width: 80%" class="table">
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Description</th>
      <th>LicensePlate</th>
      <th>TireCount</th>
    </tr>
    <tr>
      <td>@car.Brand</td>
      <td>@car.Model</td>
      <td>@car.Description</td>
      <td>@car.LicensePlate</td>
      <td>@car.TireCount</td>

    </tr>
    </table>
            
}
    
<hr/>
<h4><a asp-action="Index" asp-controller="Settings" asp-route-companyId="@Model.CompanyId">Angi Firmanavn</a></h4>

@section Scripts
{
    <script type="text/javascript">
        function onSuccess(data) {
            var tireCount = data.tireCount;
            $('#tireCount').text(tireCount);
            $('#tireInfo').removeClass('hidden');
        }
    </script>
}
